.backward {
    position: absolute;
    width: 64px;
    background-color: var(--background-secondary-light);
    border-right: 1px solid #eaeaea;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & button {
        z-index: 99;
    }
}

.backward-wrapper-icon {
    width: 28px;
    height: 28px;
    border-radius: var(--border-radius-pill);
    background-color: var(--brand-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
    z-index: 12;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
