<div class={{styles.chat-action-bar}}>
    {{> IconButton icon=icons.PaperClip className=styles.file }}
    <form>
        {{> Input type="text" placeholder="Сообщение" className=styles.message }}
        {{> IconButton type="button" icon=icons.ArrowForward }}
    </form>
</div>
