.search {
    position: relative;
    color: var(--text-secondary);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    display: block;

    & input {
        font-family: Inter, sans-serif;
        font-size: 12px;
        line-height: 12px;
        width: 100%;
        flex: none;
        order: 1;
        flex-grow: 0;
        height: 32px;
        color: var(--text-secondary);
        background-color: var(--background-secondary-light);
        border: 1px solid var(--background-secondary-light);
        border-radius: 5px;
        text-indent: 32px;

        &:focus {
            outline: none;
        }
    }

    & .icon-search {
        position: absolute;
        top: 10px;
        left: 10px;
        right: auto;
        right: 10px;
        width: 14px;
        height: 14px;
    }
}
