<div class={{styles.chat-nav-bar}}>
    <div>
        {{> IconView url="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" }}
        <p>Иван</p>
    </div>
    {{> IconButton icon=icons.ThreeDots className=styles.more }}
</div>
