:root {
    --brand-primary: #3369f3;
    --brand-secondary: #f00000;
    --text-secondary: #999;
    --interactive-active: #e4edfd;
    --background-secondary-light: #efefef;
    --background-default: #fbfbfb;
    --color-white: #fff;
    --text-primary: #1e1e1e;
    --bg-blur: rgb(0 0 0 / 50%);
}
