:root {
    --brand-primary: #3369F3;
    --brand-secondary: #FF0000;
    --text-secondary: #999999;
    --interactive-active: #E4EDFD;
    --background-secondary-light: #EFEFEF;
    --background-default: #FBFBFB;
    --color-white:#fff;
    --text-primary:#1E1E1E;
    --bg-blur:rgba(0, 0, 0, 0.5);
}
