<div class={{styles.signIn}}>
    <div>
        <h3 class={{styles.title}}>Регистрация</h3>
        <form>
            {{> Input type="text" name="email" label="Почта" placeholder="Почта" required="true" }}
            {{> Input type="text" name="login" label="Логин" placeholder="Логин" required="true" }}
            {{> Input type="text" name="second_name" label="Имя" placeholder="Имя" required="true" }}
            {{> Input type="text" name="first_name" label="Фамилия" placeholder="Фамилия" required="true" }}
            {{> Input type="text" name="phone" label="Телефон" placeholder="Телефон" required="true" }}
            {{> Input type="password" name="oldPassword" label="Пароль" placeholder="Пароль" required="true" }}
            {{> Input type="password" name="newPassword" label="Пароль" placeholder="Пароль" required="true" }}
        <div>
            {{> Button title="Зарегистрироваться" button=true page="chats"}}
            {{> Button title="Войти" link=true page="login"}}
        </div>
        </form>
    </div>
</div>
