<div class={{styles.change-profile-page}}>
    {{> Backward }}
    <div class={{styles.change-profile-wrapper}}>
        {{> ProfileAvatar first_name="" }}
        <form>
            <fieldset>
                <label>Почта</label>
                {{> Input name="email" type="text" className=styles.input value="mail@mail.ru"}}
            </fieldset>
             <fieldset>
                <label>Логин</label>
                {{> Input name="login" type="text" className=styles.input value="ivanivanov"}}
            </fieldset>
            <fieldset>
                <label>Имя</label>
                {{> Input name="second_name" type="text" className=styles.input value="Иван"}}
            </fieldset>
              <fieldset>
                <label>Фамилия</label>
                {{> Input name="first_name" type="text" className=styles.input value="Иванов"}}
            </fieldset>
              <fieldset>
                <label>Имя в чате</label>
                {{> Input name="display_name" type="text" className=styles.input value="Ivan"}}
            </fieldset>
             <fieldset>
                <label>Телефон</label>
                {{> Input name="phone" type="text" className=styles.input value="+79090876754"}}
            </fieldset>

            {{> Button title="Сохранить" button=true page="profile" className=styles.submit }}
        </form>
    </div>
</div>
