<div class={{styles.change-password-page}}>
    {{> Backward }}
    <div class={{styles.change-password-wrapper}}>
        {{> ProfileAvatar first_name="" }}
        <form>
            <fieldset>
                <label>Старый пароль</label>
                {{> Input name="oldPassword" type="password" className=styles.password value="**********"}}
            </fieldset>
             <fieldset>
                <label>Новый пароль</label>
                {{> Input name="newPassword" type="password" className=styles.password value="**********"}}
            </fieldset>
              <fieldset>
                <label>Повторите новый пароль</label>
                {{> Input name="newPassword" type="password" className=styles.password value="**********"}}
            </fieldset>

            {{> Button title="Сохранить" button=true page="profile" className=styles.submit }}
        </form>
    </div>
</div>
